<div id="about">
    <!--轮播图-->
    <div class="ab-carousel wow fadeInUpBig">
        <div class="ab-carousel-bg wow fadeInLeft">
            <img src="" alt="">
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="ab-carousel-gs">
            <ul>
                <li><a href="#Home">公司概况</a></li>
                <li><a href="#culture">公司文化</a></li>
                <li><a href="#aptitude">企业资质</a></li>
                <li><a href="#joinus">加入我们</a></li>
            </ul>
        </div>

    </div>

    <div  class="ab-survey wow fadeInLeftBig" data-wow-delay="1s">
        <div>
            <img src="./images/about_a01.gif" alt="公司概况">
        </div>
    </div>
    <!--公司概况-->
    <div id="Home" class="ab-survey-content">
        <div class="ab-survey-content-left  wow fadeInDownBig" data-wow-delay="1s">
                <h2>我们是谁？</h2>
                <h4>懂您所需、做您所想</h4>
            <div class="dianxian"></div>
            <p>众城科技开站以来，尽管没有积累太多用户口碑和市场份额，但我们一直努力，每天保持更新各行各业好<br>
                源码，让找众城科技源码去众城科技已经成为很多众城科技爱好者的习惯。</p>
            <p>相信通过我们的努力,众城科技会越来越好！</p>
            <h4>众城科技离不开您的参与，如果您：</h4>
            <p>1.要出售自己持有的好源码？欢迎您来这里分享，经过审核后会支付一定的金币做为回报。</p>
            <p>2.苦苦寻觅织梦源码 、迫切希望得到一个改改就能用上的企业网站？这里或许能很快解决您的问题。</p>
            <p>3.想找个网络模板收藏夹存放自己喜爱的源码或模板？ 这里就是您的选择。</p>
            <p>4.想结交更多热爱织梦源码建站的朋友？那就快来分享您的源码，寻找志趣相投的朋友吧。</p>
            <div class="ab-survey-content-left-btn  wow fadeInRight" data-wow-delay="1s">
                <h2>我们能做什么？</h2>
                <h4>我们提供的网站解决方案 ></h4>
                <div class="dianxian"></div>
                <dl>
                    <dt>1</dt>
                    <dd><a href="">酒店网站解决方案</a></dd>
                    <dt>2</dt>
                    <dd><a href="">门户网站解决方案</a></dd>
                    <dt>3</dt>
                    <dd><a href="">搜索引擎优化解决方案</a></dd>
                    <dt>4</dt>
                    <dd><a href="">教育培训网站解决方案</a></dd>
                    <dt>5</dt>
                    <dd><a href="">服装网站解决方案</a></dd>
                    <dt>6</dt>
                    <dd><a href="">外贸网站解决方案</a></dd>
                    <dt>7</dt>
                    <dd><a href="">商城网站解决方案</a></dd>
                    <dt>8</dt>
                    <dd><a href="">手机网站解决方案</a></dd>
                    <dt>9</dt>
                    <dd><a href="">旅游网站解决方案</a></dd>
                    <dt>10</dt>
                    <dd><a href="">企业网站解决方案</a></dd>
                </dl>
            </div>
        </div>
        <div class="ab-survey-content-right  wow fadeInLeftBig" data-wow-delay="1.2s">
            <img src="./images/about_f14.jpg" alt="">
        </div>
    </div>
    <!--公司文化-->
    <div id="culture" class="ab-culture  wow fadeInRightBig" data-wow-delay="1.5s">
        <div>
            <img src="./images/about_a05.png" alt="">

        </div>
        <div class="ab-culture-content  wow fadeInRight" data-wow-delay="1.1s">
            <div>
                <h2>先进的技术+远瞻的眼光</h2>
                <h4>互联网行业瞬息万变，谁能洞察未来，谁就能引领行业发展。</h4>
                <div class="dianxian"></div>
                <p>众城科技拥有一支朝气蓬勃的团队，我们执着、敏锐、追求更好；通过自己的专业眼光，为客户<br>
                    提供各类解决方案，始终为客户思考如何占领互联网。 一个人能走多远，取决于与谁同行，众城<br>
                    科技团队是一个富有理想和激情的团队，也是一个技术专业化、管理人性化、创新性和学习型<br>
                    的优秀团队。</p>
            </div>
            <div class="ab-wrap wow fadeInDownBig" data-wow-delay="2.3s">
                <div class="wrap">
                    <div class="cube">
                        <!-- 前后左右上下六个方向 -->
                        <div class="out_front"><a ui-sref="home">公司首页</a></div>
                        <div class="out_back"><a ui-sref="about">关于我们</a></div>
                        <div class="out_left"><a ui-sref="case">公司案例</a></div>
                        <div class="out_right"><a ui-sref="service">服务范围</a></div>
                        <div class="out_top"><a ui-sref="mobile">移动终端</a></div>
                        <div class="out_bottom"><a ui-sref="contact">联系我们</a></div>
                        <!-- 小正方体 -->
                        <span class="in_front"></span>
                        <span class="in_back"></span>
                        <span class="in_left"></span>
                        <span class="in_right"></span>
                        <span class="in_top"></span>
                        <span class="in_bottom"></span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--企业资质-->
    <div id='aptitude' class="ab-aptitude">
        <div>
            <img src="./images/about_a08.png" alt="企业资质">
        </div>
        <div>
            <span>
                <p class="ab_aptitude_content pull-down1"><a href="">中关村高薪技术企业</a></p>
                <img src="./images/about_diploma_01.jpg" alt="中关村高薪技术企业">
            </span>
            <span>
                 <p class="ab_aptitude_content pull-down2"><a href="">安全生产许可证</a></p>
                 <img src="./images/about_diploma_02.jpg" alt="安全生产许可证">
            </span>
            <span>
                 <p class="ab_aptitude_content pull-down3"><a href="">自主创新产品</a></p>
                 <img src="./images/about_diploma_03.jpg" alt="自主创新产品">
            </span>
            <span>
                 <p class="ab_aptitude_content pull-down4"><a href="">荣誉证书</a></p>
                 <img src="./images/about_diploma_04.jpg" alt="荣誉证书">
            </span>
        </div>


    </div>
    <!--加入我们-->
    <div id="joinus" class="ab-join-us">
        <div class="ab-join-us-title">
            <img src="./images/about_a13.png" alt="加入我们">
        </div>
        <div class="ab-join-bg">
            <img src="./images/about_join_02.png" alt="激情工作">
            <img src="./images/about_join_01.png" alt="学习成长">
            <ul class="ab-join-tab" id="js_join_us_title">
                <li class="show">
                    商务代表
                    <img src="./images/about_join_hover_01.jpg" alt="" class="ab-min-img1">
                    <div>
                        <p class="ab-join-tab-hide">1、拓展公司业务市场，落实销售计划。 2、熟悉网络公司或广告公司的业务流程，
                            有较强的管理能力及执行力； 3、具有独立撰写、讲解、演示PPT的能力；
                            4、良好的语言表达能力及写作能力，具备技术资料分析、整理、描述能力；
                            5、有培训经验，能提升部门人员工作能力，能调动部门员工工作积极性；
                            6、具有良好的沟通、表达能力，工作积极主动； 7、具有良好的敬业精神与团队协作精神。
                            8、维护客户关系，与客户进行紧密的业务联络和沟通。</p>
                    </div>

                </li>
                <li>网页设计师
                    <img src="./images/about_join_hover_02.jpg" alt="" class="ab-min-img2">
                    <div>
                        <p class="ab-join-tab-hide">1、本科以上艺术设计专业毕业； 2、拥有至少2年以上网站设计经验；
                            3、有创新意识，较强的审美观和整体布局感； 4、熟悉网站前端，能很好的设计出适合网站展示的作品；
                            5、工作认真负责，有责任心，有较好的沟通能力；
                        </p>
                    </div>
                </li>
                <li>程序员
                    <div>
                        <img src="./images/about_join_hover_03.jpg" alt="" class="ab-min-img3">
                        <p class="ab-join-tab-hide">1、大专以上计算机、数学等相关专业毕业； 2、拥有至少2年以上网站程序开发经验，熟悉PHP或NET；
                            3、熟悉网站前端，如HTML 、CSS、Javascript\JQuery等，能很好的解决浏览器兼容问题并能手写基本的效果；
                            4、代码书写规范； 5、工作认真负责，有责任心，服从公司项目安排； 6、喜欢专研，有上进心；
                            7、沟通能力强，有团队协作经验者优先。
                        </p>-->
                    </div>
                </li>
            </ul>
        </div>
        <div class="ab-join-content">
            <h2>职位要求:</h2>
        </div>
        <div class="ab-join-resume">
            <a href="">
                <p><a href="https://mail.qq.com/cgi-bin/loginpage" target="view_window">投递工作简历</a></p>
                <img src="./images/about_join_min_01.png" alt="投递工作简历">
            </a>
        </div>
    </div>
</div>
<script>
    $('#js_join_us_title').children('li').on('mouseover',function () {
        $(this).addClass('show').siblings('li').removeClass('show')
    }).animate('class','');
    //开启动画
    new WOW().init();
</script>