<!--全局的定位按钮-->
<div class="homeAnchor">
    <ul class="list-unstyled positionDisc" >
        <li><a href="#1F"></a></li>
        <li><a href="#2F"></a></li>
        <li><a href="#3F"></a></li>
        <li><a href="#4F"></a></li>
        <li><a href="#5F"></a></li>
        <li><a href="#6F"></a></li>
    </ul>
</div>
<!--轮播图-->
<a name="1F"></a>
<div class="homeCarousel">
    <ul class="list-unstyled homeCarouselImg">
        <li style="opacity: 1"><a href="#"><img src="../images/homeCarousel1.jpg"/></a></li>
        <li style="opacity: 0"><a href="#"><img src="../images/homeCarousel2.jpg"/></a></li>
        <li style="opacity: 0"><a href="#"><img src="../images/homeCarousel3.jpg"/></a></li>
    </ul>
    <ul class="list-unstyled homeCarouselSpan">
        <li style="background: orange"></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--服务范围-->
<a name="2F"></a>
<div class="homeService ">
    <div class="homeServiceHeader wow swing">
       <a href="#" class="top"> <span>服务范围</span><span>SERVICE&nbsp;&nbsp;<span class="skyBlue">SCOPE</span></span></a>
       <a href="#" class="middle"><span></span><span></span><span></span></a>
       <p>从PC到移动互联网打造一个全方位的互联网营销体系</p>
    </div>
    <ul class="homeServerContent list-unstyled">
        <li class="wow bounceInLeft">
            <div><a href="#"><img src="../images/service_1.jpg"/></a></div>
            <p class="title"><a href="#">品牌官网审计</a></p>
            <p class="content">策划、设计、前端、程序开发全方位一条龙服务充分了解企业文化、行业特点，体现企业特色设计师一对一沟通，充分了解你的需求和想法时刻掌握最新技术动向，打造高品质网站</p>
        </li>
        <li class="wow bounceInLeft">
            <div><a href="#"><img src="../images/service_2.jpg"/></a></div>
            <p class="title"><a href="#">商城网站开发</a></p>
            <p class="content">专业量身定制设计、定制功能、定制后台开发拥有资深开发团队，追求质量同时保证速度追求完美，不断提升系统响应速度和稳定性完善的测试流程，在上线之前解决问题</p>
        </li>
        <li class="wow bounceInRight">
            <div><a href="#"><img src="../images/service_3.jpg"/></a></div>
            <p class="title"><a href="#">移动终端</a></p>
            <p class="content">个性设计，独一无二，用设计风格体现企业文化精简代码、追求速度，兼容主流手机浏览器和PC端数据同步，管理方便，全方位网络营销零成本增加微信网站</p>
        </li>
        <li class="wow bounceInRight">
            <div><a href="#"><img src="../images/service_4.jpg"/></a></div>
            <p class="title"><a href="#">解决方案</a></p>
            <p class="content">只要逻辑可行，我们就能帮你实现完全根据你的想法，创新策划解决方案采用最新网站开发技术,全方位考虑各种因素用最短的时间定制出最好的网站</p>
        </li>
    </ul>
</div>
<!--服务与成功案例之间的阻隔-->
<div class="homeSuccess">
    <P>站在用户的角度思考问题，与客户深入沟通，找到网站设计与推广的最佳解决方案</P>
</div>
<!--成功案例-->
<a name="3F"></a>
<div class="homeSuccessCases">
    <div class="homeSuccessCasesHeader wow swing">
        <a href="#" class="top"> <span>成功案例</span><span>SUCCESSFUL&nbsp;&nbsp;<span class="skyBlue">CASES</span></span></a>
        <a href="#" class="middle"><span></span><span></span><span></span></a>
        <p>一个人能走多远，取决于与谁同行，织梦58科技团队是一个富有理想和激情的团队，是一个蓬勃向上并富有朝气的团队，也是一个技术专业化、管理人性化、创新性和学习型的优秀团队</p>
    </div>
    <ul class="homeSuccessCasesContent list-unstyled">
        <li>
            <a href="#">
                <img src="../images/homeSuccess1.png" style="width:300px;height:300px;"/>
                <p>蓝色招商新闻资讯类</p>
                <div> </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/homeSuccess2.png" style="width:300px;height:300px;"/>
                <p>蓝色招商新闻资讯类</p>
                <div> </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/homeSuccess3.png" style="width:300px;height:300px;"/>
                <p>蓝色招商新闻资讯类</p>
                <div> </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/homeSuccess4.png" style="width:300px;height:300px;"/>
                <p>蓝色招商新闻资讯类</p>
                <div> </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/homeSuccess5.png" style="width:300px;height:300px;"/>
                <p>蓝色招商新闻资讯类</p>
                <div> </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/homeSuccess6.png" style="width:300px;height:300px;"/>
                <p>蓝色招商新闻资讯类</p>
                <div> </div>
            </a>
        </li>
    </ul>
    <div class="casesMore"><a href="#">查看更多</a></div>
</div>

<!--解决方案-->
<a name="4F"></a>
<div class="homeSolution" >
    <div class="homeSolutionHeader wow swing">
        <a href="#" class="top"> <span>解决方案</span><span>SOLUTION&nbsp;&nbsp;<span class="skyBlue">PROPOSAL</span></span></a>
        <a href="#" class="middle"><span></span><span></span><span></span></a>
        <p>只要逻辑可行，我们就能帮你实现完全根据你的想法，创新策划解决方案采用最新网站开发技术,全方位考虑各种因素用最短的时间定制出最好的网站</p>
    </div>
    <ul class="homeSolutionContent list-unstyled">
        <li>
            <div class="homebox">
                <div><a href="#"><img src="../images/s_1.png"/></a></div>
                <p class="title"><a href="#">企业网站解决方案</a></p>
                <p class="content">企业网站作为一个公司的网络名片，最主要的作用是展示公司形象和宣传公司的服务或产品，...</p>
            </div>
            <span class="cover"></span>
        </li>

        <li>
            <div class="homebox">
                <div><a href="#"><img src="../images/s_2.png"/></a></div>
                <p class="title"><a href="#">旅游网站解决方案</a></p>
                <p class="content">一、旅游网站建设方案简介 随着互联网的迅速，越多越多人，尤其是上班白领，都喜欢在网上...</p>
            </div>
            <span class="cover"></span>
        </li>
        <li>
            <div class="homebox">
                <div><a href="#"><img src="../images/s_3.png"/></a></div>
                <p class="title"><a href="#">手机网站解决方案</a></p>
                <p class="content">随着智能手机的迅速发展，移动互联网时代已经到来，这带给我们要一个机遇还是危机，全取...</p>
            </div>
            <span class="cover"></span>
        </li>
        <li>
            <div class="homebox">
                <div><a href="#"><img src="../images/s_4.png"/></a></div>
                <p class="title"><a href="#">商城网站解决方案</a></p>
                <p class="content">商城网站需要强大的后台管理系统、良好的用户购物体验、安全稳定的服务器空间。 商城网站...</p>
            </div>
            <span class="cover"></span>
        </li>
    </ul>
    <div class="solutionMore">
        <a href="#">查看更多</a>
    </div>
</div>

<!--新闻资讯-->
<a name="5F"></a>
<div class="homeNew">
    <div class="homeNewHeader wow swing">
        <a href="#" class="top"> <span>新闻资讯</span><span>NEW&nbsp;&nbsp;<span class="skyBlue">INFORMATION</span></span></a>
        <a href="#" class="middle"><span></span><span></span><span></span></a>
        <p>提供网站建设相关资讯、互联网行业资讯、网站设计知识、空间域名邮箱、网站解决方案、常见问题、签约新闻等</p>
    </div>
    <ul class="homeNewContent list-unstyled">
        <li>
            <span class="top-left"></span>
            <span class="top-right"></span>
            <span class="bottom-left"></span>
            <span class="bottom-right"></span>
            <div class="newIsShow">
                <a href="#"><img src="../images/news_ico_time.png"/></a>
                <br>
                <time>2016-7-5</time>
                <br>
                <p class="title"><a href="#">看看如何做一份优秀的公司网站建设方案</a></p>
                <p class="content">在决定做好网站建设前，公司应该先对市场情况进行分析、明确建设网站的目的和功能性，并根据市场调查结果对网站建设的各项要求要点做出...</p>
            </div>
        </li>
        <li>
            <span class="top-left"></span>
            <span class="top-right"></span>
            <span class="bottom-left"></span>
            <span class="bottom-right"></span>
            <div class="newIsShow">
                <a href="#"><img src="../images/news_ico_time.png"/></a>
                <br>
                <time>2016-7-5</time>
                <br>
                <p class="title"><a href="#">看看如何做一份优秀的公司网站建设方案</a></p>
                <p class="content">在决定做好网站建设前，公司应该先对市场情况进行分析、明确建设网站的目的和功能性，并根据市场调查结果对网站建设的各项要求要点做出...</p>
            </div>
        </li>
        <li>
            <span class="top-left"></span>
            <span class="top-right"></span>
            <span class="bottom-left"></span>
            <span class="bottom-right"></span>
            <div class="newIsShow">
                <a href="#"><img src="../images/news_ico_time.png"/></a>
                <br>
                <time>2016-7-5</time>
                <br>
                <p class="title"><a href="#">看看如何做一份优秀的公司网站建设方案</a></p>
                <p class="content">在决定做好网站建设前，公司应该先对市场情况进行分析、明确建设网站的目的和功能性，并根据市场调查结果对网站建设的各项要求要点做出...</p>
            </div>
        </li>
        <li>
            <span class="top-left"></span>
            <span class="top-right"></span>
            <span class="bottom-left"></span>
            <span class="bottom-right"></span>
            <div class="newIsShow">
                <a href="#"><img src="../images/news_ico_time.png"/></a>
                <br>
                <time>2016-7-5</time>
                <br>
                <p class="title"><a href="#">看看如何做一份优秀的公司网站建设方案</a></p>
                <p class="content">在决定做好网站建设前，公司应该先对市场情况进行分析、明确建设网站的目的和功能性，并根据市场调查结果对网站建设的各项要求要点做出...</p>
            </div>
        </li>
        <li>
            <span class="top-left"></span>
            <span class="top-right"></span>
            <span class="bottom-left"></span>
            <span class="bottom-right"></span>
            <div class="newIsShow">
                <a href="#"><img src="../images/news_ico_time.png"/></a>
                <br>
                <time>2016-7-5</time>
                <br>
                <p class="title"><a href="#">看看如何做一份优秀的公司网站建设方案</a></p>
                <p class="content">在决定做好网站建设前，公司应该先对市场情况进行分析、明确建设网站的目的和功能性，并根据市场调查结果对网站建设的各项要求要点做出...</p>
            </div>
        </li>
        <li>
            <span class="top-left"></span>
            <span class="top-right"></span>
            <span class="bottom-left"></span>
            <span class="bottom-right"></span>
            <div class="newIsShow">
                <a href="#"><img src="../images/news_ico_time.png"/></a>
                <br>
                <time>2016-7-5</time>
                <br>
                <p class="title"><a href="#">看看如何做一份优秀的公司网站建设方案</a></p>
                <p class="content">在决定做好网站建设前，公司应该先对市场情况进行分析、明确建设网站的目的和功能性，并根据市场调查结果对网站建设的各项要求要点做出...</p>
            </div>
        </li>

    </ul>
    <div class="homeNewMore">
        <a href="#">查看更多</a>
    </div>
</div>
<!--我们的客户-->
<a name="6F"></a>
<div class="ourCustomers">
    <div class="ourCustomersHeader wow swing">
        <a href="#" class="top"> <span>我们的客户</span><span>OUR&nbsp;&nbsp;SERVICE&nbsp;&nbsp;<span class="skyBlue">CUSTOMERS</span></span></a>
        <a href="#" class="middle"><span></span><span></span><span></span></a>
        <p>他们都选择了我们，我们最大的使命就是让他们的选择变得坚定和正确，为客户创造最大的价值从而实现自己的价值。</p>
    </div>
    <div class="ourCustomersContent">
        <ul class="list-unstyled  wow fadeInRight">
            <li><a href="#"><img src="../images/homeCustomers1%20(1).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(2).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(3).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(4).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(5).jpg"/></a></li>
        </ul>
        <ul class="list-unstyled  wow fadeInLeft">
            <li><a href="#"><img src="../images/homeCustomers1%20(6).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(7).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(8).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(9).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(10).jpg"/></a></li>
        </ul>
        <ul class="list-unstyled  wow fadeInRight">
            <li><a href="#"><img src="../images/homeCustomers1%20(11).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(12).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(13).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(14).jpg"/></a></li>
            <li><a href="#"><img src="../images/homeCustomers1%20(15).jpg"/></a></li>
        </ul>
    </div>
</div>
<script src="js/index.js"></script>

<script>
    new WOW().init();
</script>