
<!--头部样式-->
		<div class="top">
			
		</div>
<!--页面大图-->
		<div class="content-top wow bounceInLeft">
			<img src="../images/move/m_banner.jpg" alt="移动终端" >
		</div>
<!--M手机网站-->
        <div class="Mimg">
        	<img src="../images/move/m02.jpg" alt="手机网站">
        </div>
		<div class="ul">
			<ul>
				<li class="wow bounceInUp">
					<img src="../images/move/1-160F30005441T.jpg" alt="手机"  />
					<p class="p1" class="wow bounceInDown">定制设计版面，让你手机网站与众不同</p>
					<p class="p2" class="bounceInDown">我们不是吝啬我们的代码而是为了追求最完美的作品</p>
				</li>
				<li class="wow bounceInDown">
					<img src="../images/move/1-160F30000400-L.jpg" alt="平板"  /> 
					<p class="p1">PC网站和手机网站共享数据 同步更新，管理方便</p>
					<p class="p2">手机端和PC端共用数据库PC网站后台统一管理，操作方便</p>
				</li>
				<li class="wow bounceInUp">
					<img src="../images/move/1-160F3000533103.jpg" alt="鼠标"  /> 
					<p class="p1">网站打开速度快 用最少的代码完成所需功能</p>
					<p class="p2">资深设计师与你一对一沟通，根据你企业文化与行业特点，
						创意设计出风格独一无二的手机网
					</p>
				</li>
			</ul>
		</div>
<!--M微信网站-->
<div class="weixin">
        <div class="Mimg2">
        	<img src="../images/move/m07.png" />
        </div>
		<div class="icro">
			<div class="dl">
				<dl>
					<dt class="wow bounceInLeft">轻松打造微信网站</dt>
					<dd class="wow bounceInRight">通过微信公众号或服务号与手机网站进行对接， 轻松打造和手机网站一样的微信网站， 数据和手机网站同步，
						轻松实现微信营销。
					</dd>
				</dl>
			</div>			
		</div>
		<div class="right-img wow bounceInRight">
				<img src="../images/move/1-160F300315K61.png"  />
		</div>
</div>
<!--APP定制-->
		<div class="app-button">
			<div class="app-left wow bounceInLeft">
				<img src="../images/move/1-160F3003224S1.jpg"  />
			</div>
			<div class="app-content">
				<img src="../images/move/m10.jpg"  />
			</div>
			<div class="app-right">
				<h1 class="wow bounceInLeft">APP定制</h1>
				<p class="wow bounceInRight">IOS、Android移动终端定制 适合商城、运营平台等，运用APP独有的功能，最大化移动终端的作用，
					 全方位覆盖PC端和移动端，数据和PC端同步。
				</p>
			</div>
		</div>
<!--底部样式-->
      <div class="foot">
      	
      </div>
 
      <script>
     
      		new WOW().init();
   
      </script>