<!--抖动（shake）、闪烁（flash）、弹跳（bounce）、翻转（flip）/旋转（rotateIn/rotateOut）、淡入淡出（fadeIn/fadeOut）  -->

<!-- data-wow-duration（动画持续时间）和 data-wow-delay（动画延迟时间）属性，如：
<div class="wow slideInLeft" data-wow-duration="2s" data-wow-delay="5s"></div>
<div class="wow slideInRight" data-wow-offset="10"  data-wow-iteration="10"></div> -->
<div class="banner wow flip"></div>
<!-- 服务项目 -->
<div class="ser-project">
	<div class="ser-title"><img src="images/ser-project.png"></div>
	<ul class="fix" id="j_project">
		<li>
			<img src="images/ser-project1.jpg" alt="原型图策划">
			<div class="blur_shade">
				<h4>原型图策划</h4>
				<p class="text">无原型、不设计 大大减少制作误差，为客户提供全方位策划服务</p>
			</div>
		</li>
		<li>
			<img src="images/ser-project2.jpg">
			<div class="blur_shade">
				<h4>创意设计</h4>
				<p class="text">设计无价、创意无价 独具慧眼的设计风格，提升企业形象</p>
			</div>
		</li>
		<li>
			<img src="images/ser-project3.jpg">
			<div class="blur_shade">
				<h4>前端制作</h4>
				<p class="text">用网页展示设计图 绝对的逼真，良好的兼容，全平台展示</p>
			</div>
		</li>
		<li>
			<img src="images/ser-project4.jpg">
			<div class="blur_shade">
				<h4>程序开发</h4>
				<p class="text">让代码帮你做事 便捷的管理高效的执行，稳定的网站</p>
			</div>
		</li>
	</ul>
</div>
<!-- 服务范围 -->
<div class="ser-scope">
	<div class="ser-title"><img src="images/ser-scope.png"></div>
	<div class="picScroll-left">
		<div class="hd">
			<a class="prev btn" id="j_prev"><</a>
			<a class="next btn" id="j_next">></a>
		</div>
		<div class="bd">
			<div class="tempWrap">
				<div class="mask" style="background-color: rgba(0,0,0,0.4);opacity: 0;position: absolute;left: 0;top:0;z-index: 5;"></div>
				<ul class="picList" id="j_carousel">
					<li>
						<ul class="fix picBox">
							<li class="s1">
								<img src="images/ser-scope1.jpg" alt="品牌官网设计">
								<div class="ser-info">
									<h2>品牌官网设计</h2>
									<div class="ser-shade"></div>
								</div>
							</li>
							<li class="s2">
								<img src="images/ser-scope4.jpg" alt="品牌官网设计">
								<p class="intro">旅游官网、旅游平台等网站定制 外贸网站、外贸商城等网站定制 门户网站、教育平台等网站定制 内部管理系统等其他网站定制...</p>
							</li>
							<li class="s3">
								<img src="images/ser-scope2.jpg" alt="商城网站建设">
								<div class="ser-info">
									<h2>商城网站建设</h2>
									<div class="ser-shade"></div>
								</div>
							</li>
							<li class="s4">
								<img src="images/ser-scope4.jpg" alt="商城网站建设">
								<p class="intro">站内优化如同打地基，地基不稳，网站怎能推广成功 合理配置网站标题、关键词、描述 优化页面代码，利于搜索引擎抓取 网站地图、robots设置、404错误设置...</p>
							</li>
							<li class="s5">
								<img src="images/ser-scope3.jpg" alt="手机、微信网站建设">
								<div class="ser-info">
									<h2>手机、微信网站建设</h2>
									<div class="ser-shade"></div>
								</div>
							</li>
							<li class="s6">
								<img src="images/ser-scope4.jpg" alt="手机、微信网站建设">
								<p class="intro">个性设计，独一无二，用设计风格体现企业文化。 精简代码、追求速度，兼容主流手机浏览器。 和PC端数据同步，管理方便，全方位网络营销。 零成本增加微信网站。...</p>
							</li>
						</ul>
					</li>

					<li>
						<ul class="fix picBox">
							<li class="s1">
								<img src="images/ser-scope5.jpg" alt="域名/主机/邮箱">
								<div class="ser-info">
									<h2>域名/主机/邮箱</h2>
									<div class="ser-shade"></div>
								</div>
							</li>
							<li class="s2">
								<img src="images/ser-scope4.jpg" alt="域名/主机/邮箱">
								<p class="intro">支持com\net\cn等各类域名注册购买 美国主机、香港主机、国内主机、VPS、独立云主机 不同用户企业邮箱...</p>
							</li>
							<li class="s3">
								<img src="images/ser-scope6.jpg" alt="SEO基础优化">
								<div class="ser-info">
									<h2>SEO基础优化</h2>
									<div class="ser-shade"></div>
								</div>
							</li>
							<li class="s4">
								<img src="images/ser-scope4.jpg" alt="SEO基础优化">
								<p class="intro">站内优化如同打地基，地基不稳，网站怎能推广成功 合理配置网站标题、关键词、描述 优化页面代码，利于搜索引擎抓取 网站地图、robots设置、404错误设置...</p>
							</li>
							<li class="s5">
								<img src="images/ser-scope7.jpg" alt="其他网站定制">
								<div class="ser-info">
									<h2>其他网站定制</h2>
									<div class="ser-shade"></div>
								</div>
							</li>
							<li class="s6">
								<img src="images/ser-scope4.jpg" alt="其他网站定制">
								<p class="intro">旅游官网、旅游平台等网站定制 外贸网站、外贸商城等网站定制 门户网站、教育平台等网站定制 内部管理系统等其他网站定制...</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 合作流程 -->
<div class="ser-process">
	<div class="ser-title">
		<img src="images/ser-cooperation.jpg" alt="网站制作流程">
	</div>
	<div class="wrap" data-src="images/ser-process.jpg">
	</div>
</div>

<script src="js/service.js"></script>