
<!--头部样式-->
		<div class="top">
			
		</div>
<!--页面大图-->
		<div class="content-top wow bounceInLeft">
			<img src="../images/solve/sl_banner.jpg" alt="解决方案">
		</div>
<!--M手机网站-->
        <div class="Simg wow bounceInRight">
        	<img src="../images/solve/sl01.jpg" alt="解决方案">
        </div>
<!--解决问题li-->
		<div class="solve-ul">
			<ul>
				<li class="wow bounceInDown">
					<div>
					   <span>
					   	   <img src="../images/solve/1-160F41012350-L.jpg" alt="酒店网站解决方案"  />
					   </span>
					   <span><a href="detail.main.tpl.html">
						   <img  href="detail.main.tpl.html" src="../images/solve/sl_icon.png" />
						    </a>
					   </span>
					</div>
					
					<h2>
						<a href="detail.main.tpl.html">酒店网站解决方案</a>
					</h2>
					<hr>
					<p>
						<a href="detail.main.tpl.html">在建设酒店网站时我们要充分考虑酒店的经营服务特色，
						因此我们在制作方案时会注重系统的实用性、可靠性、先进性和经济...
						</a>
					</p>
				</li>
				
				<li class="wow bounceInUp">
					<div>
					   <span>
					   	   <img src="../images/solve/1-160F41012080-L.jpg" alt="酒店网站解决方案"  />
					   </span>
					   <span><a href="#">
						   <img src="../images/solve/sl_icon.png" />
						    </a>
					   </span>
					</div>
					
					<h2>
						<a href="#">门户网站解决方案</a>
					</h2>
					<hr>
					<p>
						<a href="#">门户网站不是简单的内容管理，而是新闻内容的聚合，
							做好门户网站，需要管理好网站的内容，同时保证网站的速度。 门户...
						</a>
					</p>
				</li>
				
				<li class="wow bounceInDown">
					<div>
					   <span>
					   	   <img src="../images/solve/1-160F41011370-L.jpg" alt="搜索引擎优化解决方案"  />
					   </span>
					   <span><a href="#">
						   <img src="../images/solve/sl_icon.png" />
						    </a>
					   </span>
					</div>
					
					<h2>
						<a href="#">搜索引擎优化解决方案</a>
					</h2>
					<hr>
					<p>
						<a href="#">信息时代网站的优化seo越来越重要，越多人认识到，也越难做。
							今天我们谈提高网站的价值，那么什么是网站的价值呢？很简...
						</a>
					</p>
				</li>
				
				<li class="wow bounceInDown">
					<div>
					   <span>
					   	   <img src="../images/solve/1-160F41010390-L.jpg" alt="商城网站解决方案"  />
					   </span>
					   <span><a href="#">
						   <img src="../images/solve/sl_icon.png" />
						    </a>
					   </span>
					</div>
					
					<h2>
						<a href="#">商城网站解决方案</a>
					</h2>
					<hr>
					<p>
						<a href="#">商城网站需要强大的后台管理系统、良好的用户购物体验、安全稳定的服务器空间。 
							商城网站最大的特点是用户需要在网站...
						</a>
					</p>
				</li>
				
				<li class="wow bounceInUp">
					<div>
					   <span>
					   	   <img src="../images/solve/1-160F41010000-L.jpg" alt="服装网站解决方案"  />
					   </span>
					   <span><a href="#">
						   <img src="../images/solve/sl_icon.png" />
						    </a>
					   </span>
					</div>
					
					<h2>
						<a href="#">服装网站解决方案</a>
					</h2>
					<hr>
					<p>
						<a href="#">一、主要运用技术手段： A. 3D技术 B.高速网络视频播放技术 C.360度现实环境
							虚拟展示 D.电子画册 E.FLASH交互技术 ...
						</a>
					</p>
				</li>
				
				<li class="wow bounceInDown">
					<div>
					   <span>
					   	   <img src="../images/solve/1-160F41009360-L.jpg" alt="外贸网站解决方案"  />
					   </span>
					   <span><a href="#">
						   <img src="../images/solve/sl_icon.png" />
						    </a>
					   </span>
					</div>
					
					<h2>
						<a href="#">外贸网站解决方案</a>
					</h2>
					<hr>
					<p>
						<a href="#">外贸网站的面向用户主要为国外客户，所以除了文字采用英文外，风格设计、
							页面编码、操作习惯都要适应国外客户。 网站...
						</a>
					</p>
				</li>
				
				<li class="wow bounceInDown">
					<div>
					   <span>
					   	   <img src="../images/solve/1-160F21531340-L.jpg" alt="商城网站解决方案"  />
					   </span>
					   <span><a href="#">
						   <img src="../images/solve/sl_icon.png" />
						    </a>
					   </span>
					</div>
					
					<h2>
						<a href="#">商城网站解决方案</a>
					</h2>
					<hr>
					<p>
						<a href="#">商城网站需要强大的后台管理系统、良好的用户购物体验、
							安全稳定的服务器空间。 商城网站最大的特点是用户需要在网站...
						</a>
					</p>
				</li>
				
				<li class="wow bounceInUp">
					<div>
					   <span>
					   	   <img src="../images/solve/1-160F21529410-L.jpg" alt="手机网站解决方案"  />
					   </span>
					   <span><a href="#">
						   <img src="../images/solve/sl_icon.png" />
						    </a>
					   </span>
					</div>
					
					<h2>
						<a href="#">手机网站解决方案</a>
					</h2>
					<hr>
					<p>
						<a href="#">随着智能手机的迅速发展，移动互联网时代已经到来，这带给我们要一个机遇还是危机，
							全取决于你能否迅速抢占先机，优先...
						</a>
					</p>
				</li>
				
				<li class="wow bounceInDown">
					<div>
					   <span>
					   	   <img src="../images/solve/1-160F2152Q50-L.jpg" alt="旅游网站解决方案"  />
					   </span>
					   <span><a href="#">
						   <img src="../images/solve/sl_icon.png" />
						    </a>
					   </span>
					</div>
					
					<h2>
						<a href="#">旅游网站解决方案</a>
					</h2>
					<hr>
					<p>
						<a href="#">一、旅游网站建设方案简介 随着互联网的迅速，越多越多人，尤其是上班白领，
							都喜欢在网上查看旅游相关信息，然后再网...
						</a>
					</p>
				</li>
				
				<li class="wow bounceInDown">
					<div>
					   <span>
					   	   <img src="../images/solve/1-160F2152I60-L.jpg" alt="企业网站解决方案"  />
					   </span>
					   <span><a href="#">
						   <img src="../images/solve/sl_icon.png" />
						    </a>
					   </span>
					</div>
					
					<h2>
						<a href="#">企业网站解决方案</a>
					</h2>
					<hr>
					<p>
						<a href="#">    企业网站作为一个公司的网络名片，最主要的作用是展示公司形象和宣传
							公司的服务或产品，所以做一个企业网站，关键在于...

						</a>
					</p>
				</li>
				
				
			</ul>
		</div>

<!--底部样式-->
      <div class="foot">
      	
      </div>

<script>

	new WOW().init();

</script>

