* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h2 a {
  color: black;
}
.content-top img {
  height: 370px;
  width: 1350px;
}
.Simg img {
  width: 187px;
  height: 56px;
  margin: 30px auto;
  display: block;
}
.solve-ul {
  overflow: hidden;
  padding: 0 0 0 70px;
}
.solve-ul ul li {
  float: left;
  width: 372px;
  margin-right: 46px ;
  margin-bottom: 38px;
}
.solve-ul ul li p a {
  font-size: 10px;
  vertical-align: 10px;
  color: #8e8e8e;
}
.solve-ul h2 {
  margin: 20px 0;
  color: black;
}
.solve-ul ul li div {
  position: relative;
  width: 370px;
  height: 123px;
  overflow: hidden;
}
.solve-ul ul li div span:first-child img {
  -webkit-transition: all 1s;
}
.solve-ul ul li div span:first-child img:hover {
  -webkit-transform: scale(1.3) rotate(0deg);
}
hr {
  color: #74b7cf;
  margin-bottom: 10px;
}
a:hover {
  color: #74b7cf;
}
.solve-ul ul li p a:hover {
  color: #74b7cf;
}
.solve-ul ul li div:hover span:last-child {
  top: 0;
}
.solve-ul ul li div span:last-child {
  position: absolute;
  display: block;
  width: 370px;
  height: 216px;
  top: 200px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}
.solve-ul ul li div span:last-child img {
  margin: 45px 165px;
}
