.ab_carousel {
  background: url('/images/about_banner.jpg') no-repeat center;
  height: 400px;
}
.ab_survey div {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 32px;
}
.ab_survey div img {
  text-align: center;
  width: 300px;
  height: 54px;
  display: inline-block;
  vertical-align: middle;
}
